ol {
    background: #b7be4e;
    padding: 20px;
  }
  
  ul {
    background: #3399ff;
    padding: 20px;
  }
  
  ol li {
    background: #e6d32a;
    padding: 5px;
    margin-left: 35px;
    list-style-type: none;
  }
  
  ul li {
    background: #cce5ff;
    margin: 5px;
  }