<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      A faire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ol style="margin-top: 1cm;">
    <li *ngFor="let l of liste">
      <p style="float:right">
        <button style="margin-right: 1cm;">En cours</button>
        <button>Terminer</button>
      </p>
      {{l.nom}}
    </li>
  </ol>
</ion-content>
